.mat-dialog-content {
    overflow: hidden;
}
.mat-dialog-content {
    display: block;
    margin: 0;
    padding: 0;
    max-height: unset;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}